{#
/**
 * @file redoc-tryfield-item.html.twig
 *
 * variables:
 * - delta: The delta of the field item.
 * - field_name: The name of the field.
 *
 */
#}
<div id="redoc-container">
  <div id="{{ field_name }}-{{ delta }}"> 
    <a class="redoc-link" href="{{ url }}"></a
  </div>
</div>
